<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/workshop.css" type="text/css" media="all" />
</head>
<body>
	<h1 id="title">{{page.title}}</h1>
	<div id="nav">
	<ul>
		<li><a href="index.html">Workshop Information</a></li>
		<li><a href="schedule.html">Schedule</a></li>
		<!--<li><a href="abstracts.html">Abstracts</a></li>
		<li><a href="notes.html">Notes and References</a></li>-->
	</ul>
	</div>
	<iframe src="https://docs.google.com/document/d/e/2PACX-1vSJJPl4qz43gCspMw2Lh3lKueTYqAcncEMEXIGSxy2VwIbYgHx97g-Agf89oZK-OvpvmNArlu-dPjzV/pub?embedded=true"></iframe>
	<div id="content">
	{{content}}	
</div>

</body>
